<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
        <title>
            {% block title %}Designo{% endblock %}
        </title>
    </head>
    <body>
        <header class="header container">
            <section class="navigation">
                <h1 class="navigation__brand">
                    <img class="navigation__logo" src="/img/logo/logo-dark-new.svg" alt="Designo"/>
                </h1>
                <nav class="navigation__menu">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a class="navigation__link" href="/">Our Company</a>
                        </li>
                        <li class="navigation__item">
                            <a class="navigation__link" href="/locations">Locations</a>
                        </li>
                        <li class="navigation__item">
                            <a class="navigation__link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="navigation__hamburger">
                    <img src="/img/icons/icon-hamburger.svg" alt="menu" width="24" height="20">
                </div>
            </section>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
            {% block calltoaction %}
                <article class="business">
                    <div class="business__content">
                        <h3 class="business__title">Let’s talk about your project</h3>
                        <p class="business__description">
                            Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.
                        </p>
                    </div>
                    <a class="button" href="./contact">Get in touch</a>
                </article>
            {% endblock %}
        </main>
        {% block footer %}
            <footer class="footer">
                <div class="footer__content">
                    <section class="navigation navigation--footer">
                        <div class="navigation__brand navigation__brand--footer">
                            <img class="navigation__logo" src="/img/logo/logo-light-new.svg" alt="Designo"/>
                        </div>
                        <div class="navigation__menu navigation__menu--footer">
                            <ul class="navigation__list navigation__list--footer">
                                <li class="navigation__item navigation__item--footer">
                                    <a class="navigation__link" href="./">Our Company</a>
                                </li>
                                <li class="navigation__item navigation__item--footer">
                                    <a class="navigation__link" href="./locations">Locations</a>
                                </li>
                                <li class="navigation__item navigation__item--footer">
                                    <a class="navigation__link" href="./contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="footer__offices">
                        <div class="footer__column">
                            <p class="footer__title">Designo Central Office</p>
                            <p>3886 Wellington Street</p>
                            <p>Toronto, Ontario M9C 3J5</p>
                        </div>
                        <div class="footer__column">
                            <p class="footer__title">Contact Us (Central Office)</p>
                            <p>P : +1 253-863-8967</p>
                            <p>M : contact@designo.co</p>
                        </div>
                        <div class="footer__social">
                            <ul class="footer__icons">
                                <li>
                                    <a href="#"><img src="/img/icons/icon-facebook.svg" alt="Facebook"/> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="/img/icons/icon-youtube.svg" alt="Youtube"/> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="/img/icons/icon-twitter.svg" alt="Twitter"/> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="/img/icons/icon-pinterest.svg" alt="Pinterest"/> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="/img/icons/icon-instagram.svg" alt="Instagram"/> </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>