<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/index.css">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <header>
            <h1 class="header-brand">
                <img class="header-logo" src="/img/dummy.png" alt="Designo"/>
            </h1>
            <nav class="header-navigation">
                <ul>
                    <li><a href="./">Our Company</a></li>
                    <li><a href="./locations">Locations</a></li>
                    <li><a href="./contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
        {% block content %}{% endblock %}
        {% block calltoaction %}
            <article class="business">
                <section>
                    <h4>Let’s talk about your project</h4>
                    <p>
                        Ready to take it to the next level? Contact us today and find out how our expertise can help your business
                        grow.
                    </p>
                </section>
                <section>
                    <a href="">Get in touch</a>
                </section>
            </article>
        {% endblock %}
        </main>
        <footer>
            <article>
                <div class="footer-brand">
                    <img class="footer-logo" src="./logo/logo-light.png" alt="Designo"/>
                </div>
                <div class="footer-navigation">
                    <ul>
                        <li><a href="./">Our Company</a></li>
                        <li><a href="./locations">Locations</a></li>
                        <li><a href="./contact">Contact</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <section>
                    <h5>Designo Central Office</h5>
                    <p>3886 Wellington Street</p>
                    <p>Toronto, Ontario M9C 3J5</p>
                </section>
                <section>
                    <h5>Contact Us (Central Office)</h5>
                    <p>P : +1 253-863-8967</p>
                    <p>M : contact@designo.co</p>
                </section>
                <nav>
                    <ul>
                        <li><a href="#"><img src="./icons/icon-facebook.svg" alt="Facebook"/></a></li>
                        <li><a href="#"><img src="./icons/icon-youtube.svg" alt="Youtube"/></a></li>
                        <li><a href="#"><img src="./icons/icon-twitter.svg" alt="Twitter"/></a></li>
                        <li><a href="#"><img src="./icons/icon-pinterest.svg" alt="Pinterest"/></a></li>
                        <li><a href="#"><img src="./icons/icon-instagram.svg" alt="Instagram"/></a></li>
                    </ul>
                </nav>
            </article>
        </footer>
    </body>
</html>