{% extends '_base.njk' %}

{% block content %}
    <div class="intro intro__design">
        <article>
            <h2 class="intro__title">
                {% block introDesignHeading %}{% endblock %}
            </h2>
            <p class="intro__descriptions">
                {% block introDesignText %}{% endblock %}
            </p>
        </article>
    </div>
{% endblock %}