{% extends '_base.njk' %}
hahaha
{% block introservices %}
                <div>
                    <img class="web-intro" src="/img/bg-pattern-intro-web.svg" alt="">
                </div>
{% endblock %}