{% extends '_design.njk' %}

{% block title %}App Design - {{ super() }}{% endblock %}

{% block introDesignHeading %}App Design{% endblock %}

{% block introDesignText %}Our mobile designs bring intuitive digital solutions to your customers right at their fingertips.{% endblock %}

{% block content %}
    {{ super() }}
    <div class="design horizontal__spacer">
        {% for project in projects %}
            {% if project.type === "app" %}
                {% include "designData.njk" %}
            {% endif %}
        {% endfor %}
        <article class="services services--smaller">
            <div class="services__card services__card--web">
                <h2 class="services__title">Web Design</h2>
                <a class="services__link" href="./web-design">View Projects</a>
            </div>
            <div class="services__card services__card--graphic">
                <h2 class="services__title">Graphic Design</h2>
                <a class="services__link" href="./graphic-design">View Projects</a>
            </div>
        </article>
    </div>
{% endblock %}