{% extends '_design.njk' %}

{% block title %}App Design - {{ super() }}{% endblock %}

{% block introDesignHeading %}App Design{% endblock %}

{% block introDesignText %}Our mobile designs bring intuitive digital solutions to your customers right at their fingertips.{% endblock %}

{% block content %}
    {{ super() }}
    <div class="vertical-space design">
        {% for project in projects %}
            {% if project.type === "app" %}
                {% include "designData.njk" %}
            {% endif %}      
        {% endfor %}
        <article class="services-content">
            <a class="services-web services-card" href="./web-design">
                <h2 class="services-heading">Web Design</h2>
                <p class="services-link">View Projects</p>
            </a>
            <a class="services-graphic services-card" href="./graphic-design">
                <h2 class="services-heading">Graphic Design</h2>
                <p class="services-link">View Projects</p>
            </a>
        </article>
    </div>
{% endblock %}