{% extends '_base.njk' %}
{% block title %}Contact{% endblock %}
{% block content %}
{% block intro %}
{% endblock %}
    <article>
      <section>
        <h1>Contact Us</h1>
        <p>
          Ready to take it to the next level? Let’s talk about your project or idea and find out how we can help your business
          grow. If you are looking for unique digital experiences that’s relatable to your users, drop us a line.
        </p>
      </section>
      <form action="">
        <div>
          <label for="">Name<input type="text"/></label>
          <label for="">Email Address<input type="text"/></label>
          <label for="">Phone<input type="text"/></label>
          <label for="">Your Message<input type="text"/></label>
        </div>
        <button></button>
      </form>
    </article>
    <article class="">
      <section>
        <img src="" alt=""/>
        <h2>Canada</h2>
        <a href="">See location</a>
      </section>
      <section>
        <img src="" alt=""/>
        <h2>Australia</h2>
        <a href="">See location</a>
      </section>
      <section>
        <img src="" alt=""/>
        <h2>United Kingdom</h2>
        <a href="">See location</a>
      </section>
    </article>
{% endblock %}
{% block calltoaction %}{% endblock %}