{% extends '_base.njk' %}

{% block title %}Contact - {{ super() }}{% endblock %}

{% block intro %}{% endblock %}

{% block content %}

    <section>
      <h1>Contact Us</h1>
      <p>
        Ready to take it to the next level? Let’s talk about your project or idea and find out how we can help your business
        grow. If you are looking for unique digital experiences that’s relatable to your users, drop us a line.
      </p>
    </section>
    <form action="">
      <div>
        <label for="">Name<input type="text"/></label>
        <label for="">Email Address<input type="text"/></label>
        <label for="">Phone<input type="text"/></label>
        <label for="">Your Message<input type="text"/></label>
      </div>
      <button></button>
    </form>

    <section class="properties">
      <div class="properties-city-section">
        <img src="/img/illustration/canada-oval.svg" alt="">
          <h3 class="properties-heading properties-city-heading">Canada</h3>
        <a class="button button-about" href="locations.html#canada_locations">See location</a>
      </div>
      <div class="properties-city-section">
        <img src="/img/illustration/australia-oval.svg" alt="">
          <h3 class="properties-heading properties-city-heading">Australia</h3>
        <a class="button button-about" href="locations.html#australia_locations">See location</a>
      </div>
      <div class="properties-city-section">
        <img src="/img/illustration/united-kingdom-oval.svg" alt="">
          <h3 class="properties-heading properties-city-heading">United Kingdom</h3>
        <a class="button button-about" href="locations.html#united_kingdom_locations">See location</a>
      </div>
    </section>

{% endblock %}
{% block calltoaction %}{% endblock %}