{% extends '_base.njk' %}

{% block title %}Contact - {{ super() }}{% endblock %}

{% block intro %}{% endblock %}

{% block content %}

    <section class="intro intro__contact">
        <h2 class="intro__title intro__contact--title">Contact Us</h2>
        <p class="intro__descriptions">
          Ready to take it to the next level? Let’s talk about your project or idea and find out how we can help your business
          grow. If you are looking for unique digital experiences that’s relatable to your users, drop us a line.
        </p>

    <form class="intro__form">
        <input class="intro__form--input" type="text" placeholder="Name" required/>
        <input class="intro__form--input" type="email" id="email" placeholder="Email Address" required/>
        <input class="intro__form--input" type="tel" id="phone" placeholder="Phone" required/>
        <textarea class="intro__form--input" type="text" rows="3" placeholder="Your Message"></textarea>
        <div>
          <input class="button button--submit" type="submit" value="Submit" />
        </div>
    </form>
    </section>

    <section class="properties">
      <div class="properties__city">
        <img src="/img/illustration/canada-oval.svg" alt="">
        <h3 class="properties__city--title">Canada</h3>
        <a class="button button--secondary" href="locations.html#canada_locations">See location</a>
      </div>
      <div class="properties__city">
        <img src="/img/illustration/australia-oval.svg" alt="">
        <h3 class="properties__city--title">Australia</h3>
        <a class="button button--secondary" href="locations.html#australia_locations">See location</a>
      </div>
      <div class="properties__city">
        <img src="/img/illustration/united-kingdom-oval.svg" alt="">
        <h3 class="properties__city--title">United Kingdom</h3>
        <a class="button button--secondary" href="locations.html#united_kingdom_locations">See location</a>
      </div>
    </section>

    <footer class="footer ">
      <article class="footer__article footer__contact">
        <img class="footer__logo" src="/img/logo/logo-light-new.svg" alt="Designo"/>
        <hr>
        <nav class="footer__navigation">
            <a class="footer__navigation--link" href="./">Our Company</a>
            <a class="footer__navigation--link" href="./locations">Locations</a>
            <a class="footer__navigation--link" href="./contact">Contact</a>
        </nav>
        <section class="footer__text">
            <p class="footer__title">Designo Central Office</p>
            <p>3886 Wellington Street</p>
            <p>Toronto, Ontario M9C 3J5</p>
        </section>
        <section class="footer__text">
            <p class="footer__title">Contact Us (Central Office)</p>
            <p>P : +1 253-863-8967</p>
            <p>M : contact@designo.co</p>
        </section>
        <section class="footer__icon">
            <ul>
                <li><a href="#"><img src="/img/icons/icon-facebook.svg" alt="Facebook"/></a></li>
                <li><a href="#"><img src="/img/icons/icon-youtube.svg" alt="Youtube"/></a></li>
                <li><a href="#"><img src="/img/icons/icon-twitter.svg" alt="Twitter"/></a></li>
                <li><a href="#"><img src="/img/icons/icon-pinterest.svg" alt="Pinterest"/></a></li>
                <li><a href="#"><img src="/img/icons/icon-instagram.svg" alt="Instagram"/></a></li>
            </ul>
        </section>
      </article>
    </footer>
{% endblock %}
{% block footer %}{% endblock %}
{% block calltoaction %}{% endblock %}
