{% extends '_design.njk' %}

{% block title %}Graphic design - {{ super() }}{% endblock %}

{% block introDesignHeading %}Graphic Design{% endblock %}

{% block introDesignText %}We deliver eye-catching branding materials that are tailored to meet your business objectives.{% endblock %}

{% block content %}
    {{ super() }}
    <div class="horizontal__spacer design">
        {% for project in projects %}
            {% if project.type === "graphic" %}
                {% include "designData.njk" %}
            {% endif %}    
        {% endfor %}
        <article class="services services--smaller">
            <div class="services__card services__card--app">
                <h2 class="services__title">App Design</h2>
                <a class="services__link" href="./app-design">View Projects</a>
            </div>
            <div class="services__card services__card--web">
                <h2 class="services__title">Web Design</h2>
                <a class="services__link" href="./web-design">View Projects</a>
            </div>
        </article>
    </div>
{% endblock %}