{% extends '_base.njk' %}
{% block title %}Graphic design{% endblock %}
{% block content %}
    
        <article>
            <h2>Graphic Design</h2>
            <p>
                We deliver eye-catching branding materials that are 
                tailored to meet your business objectives.
            </p>
        </article>
        <article>
            <section>
                <img src="" alt="">
                <h3>Tim brown</h3>
                <p>A book cover designed for Tim Brown’s new release, ‘Change’</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Boxed water</h3>
                <p>A simple packaging concept made for Boxed Water</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Science!</h3>
                <p>A poster made in collaboration with the Federal Art Project</p>
            </section>
        </article>
        <article>
            <a href="./app-design">
                <h3>App design</h3>
                <p>View Projects</p>
            </a>
            <a href="./web-design">
                <h3>Web design</h3>
                <p>View Projects</p>
            </a>
        </article>
    
{% endblock %}