{% extends '_design.njk' %}

{% block title %}Graphic design - {{ super() }}{% endblock %}

{% block introDesignHeading %}Graphic Design{% endblock %}

{% block introDesignText %}We deliver eye-catching branding materials that are tailored to meet your business objectives.{% endblock %}

{% block content %}
    {{ super() }}
    <div class="all design">
        {% for project in projects %}
            {% if project.type === "graphic" %}
                {% include "designData.njk" %}
            {% endif %}    
        {% endfor %}
        <article>
            <a class="services-app services-card" href="./app-design">
                <h2 class="services-heading">App Design</h2>
                <p class="services-link">View Projects</p>
            </a>
            <a class="services-web services-card" href="./web-design">
                <h2 class="services-heading">Web Design</h2>
                <p class="services-link">View Projects</p>
            </a>
        </article>
    </div>
{% endblock %}