{% extends '_base.njk' %}

{% block intro %}{% endblock %}

{% block content %}
  <article class="intro">
    <section class="intro__content">
      <h2 class="intro__title">Award-winning custom designs and digital branding solutions</h2>
      <p class="intro__description">
        With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.
      </p>
      <a class="button button--intro" href="./about">Learn more</a>
    </section>
    <div>
      <img class="intro__image" src="/img/mobile-front.webp" alt="">
      <img class="intro__image intro__image--tablet" src="/img/tablet/phone-tablet.webp" alt="">
      <img class="intro__image intro__image--desktop" src="/img/desktop/phone-desktop.webp" alt="">
    </div>
  </article>
  <div class="horizontal__spacer">
  <article class="services">
    <div class="services__card services__card--web">
      <h2 class="services__title">Web Design</h2>
      <a class="services__link" href="./web-design">View Projects</a>
    </div>
    <div class="services__card services__card--app">
      <h2 class="services__title">App Design</h2>
      <a class="services__link" href="./app-design">View Projects</a>
    </div>
    <div class="services__card services__card--graphic">
      <h2 class="services__title">Graphic Design</h2>
      <a class="services__link" href="./graphic-design">View Projects</a>
    </div>
  </article>
  <article class="properties">
    <section class="properties__property">
      <div>
      <img src="/img/illustration/oval-images-home1.svg" alt=""/>
      </div>
      <div class="properties__content">
      <h3 class="properties__title">Passionate</h3>
      <p class="properties__description">
        Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge
        art, design, and technology into exciting new solutions.
      </p>
      </div>
    </section>
    <section class="properties__property">
      <div>
      <img src="/img/illustration/oval-images-home2.svg" alt=""/>
      </div>
      <div class="properties__content">
      <h3 class="properties__title">Resourceful</h3>
      <p class="properties__description">
        Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer
        collaboration. It guarantees superior results that fulfill our clients’ needs.
      </p>
      </div>
    </section>
    <section class="properties__property">
      <div>
      <img src="/img/illustration/oval-images-home3.svg" alt=""/>
      </div>
      <div class="properties__content">
      <h3 class="properties__title">Friendly</h3>
      <p class="properties__description">
        We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we
        strive to give them the best experience a company can provide.
      </p>
      </div>
    </section>
  </article>
  </div>
{% endblock %}