{% extends '_base.njk' %}

{% block intro %}{% endblock %}

{% block content %}
  <article class="intro intro-illustration">
    <section class="intro-text">
      <h2 class="intro-heading">Award-winning custom designs and digital branding solutions</h2>
      <p class="intro-descriptions">
        With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging
        brand experiences. Find out more about our services.
      </p>
      <a class="button button-intro" href="./about">Learn more</a>
    </section>
    <div>
      <img class="intro-image" src="/img/mobile-front.webp" alt="">
    </div>
  </article>
  <div class="vertical-space">
  <article class="services">
    <a class="services-web services-card" href="./web-design">
      <h2 class="services-heading">Web Design</h2>
      <p class="services-link">View Projects</p>
    </a>
    <a class="services-app services-card" href="./app-design">
      <h2 class="services-heading">App Design</h2>
      <p class="services-link">View Projects</p>
    </a>
    <a class="services-graphic services-card" href="./graphic-design">
      <h2 class="services-heading">Graphic Design</h2>
      <p class="services-link">View Projects</p>
    </a>
  </article>
  <article class="properties">
    <section class="properties-property">
      <img class="properties-illustration" src="/img/illustration/oval-images-home1.svg" alt=""/>
      <h2 class="properties-heading">Passionate</h2>
      <p class="properties-text">
        Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge
        art, design, and technology into exciting new solutions.
      </p>
    </section>
    <section class="properties-property">
      <img class="properties-illustration" src="/img/illustration/oval-images-home2.svg" alt=""/>
      <h2 class="properties-heading">Resourceful</h2>
      <p class="properties-text">
        Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer
        collaboration. It guarantees superior results that fulfill our clients’ needs.
      </p>
    </section>
    <section class="properties-property">
      <img class="properties-illustration" src="/img/illustration/oval-images-home3.svg" alt=""/>
      <h2 class="properties-heading">Friendly</h2>
      <p class="properties-text">
        We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we
        strive to give them the best experience a company can provide.
      </p>
    </section>
  </article>
  </div>
{% endblock %}