<section id="{{ project.connect }}" class="properties__locations">
    <img class="properties__locations--image" src="{{ project.image }}" alt="">
  <div class="properties__locations--country">
    <h2 class="properties__locations--title">{{ project.title }}</h2>
    <h3 class="properties__adress--title">{{ project.office }}</h3>
    <p class="properties__adress--descriptions">{{ project.street }}</p>
    <p class="properties__adress--descriptions">{{ project.city }}</p>
    <h3 class="properties__adress--title">{{ project.contact }}</h3>
    <p class="properties__adress--descriptions">{{ project.phone }}</p>
    <p class="properties__adress--descriptions">{{ project.email }}</p>
  </div>
</section>