{% extends '_base.njk' %}

{% block title %}Locations - {{ super() }}{% endblock %}

{% block intro %}{% endblock %}

{% block content %}

  {% for project in projects %}
    {% if project.type === "offices" %}
      {% include "locationsData.njk" %}
    {% endif %}
  {% endfor %}

{% endblock %}