{% extends '_base.njk' %}

{% block title %}Locations{% endblock %}

{% block content %}

      <article>
        <section>
          <div>
            <h2>Canada</h2>
            <h3>Designo Central Office</h3>
            <p>3886 Wellington Street</p>
            <p>Toronto, Ontario M9C 3J5</p>
          </div>
          <div>
            <h3>Contact</h3>
            <p>P : +1 253-863-8967</p>
            <p>M : contact@designo.co</p>
          </div>
        </section>
        <section>
          <img src="" alt="" />
        </section>
      </article>

      <article>
        <section>
          <img src="" alt="" />
        </section>
        <section>
          <div>
            <h2>Australia</h2>
            <h3>Designo AU Office</h3>
            <p>19 Balonne Street</p>
            <p>New South Wales 2443</p>
          </div>
          <div>
            <h3>Contact</h3>
            <p>P : (02) 6720 9092</p>
            <p>M : contact@designo.au</p>
          </div>
        </section>
      </article>

      <article>
        <section>
          <div>
            <h2>United Kingdom</h2>
            <h3>Designo UK Office</h3>
            <p>13 Colorado Way</p>
            <p>Rhyd-y-fro SA8 9GA</p>
          </div>
          <div>
            <h3>Contact</h3>
            <p>P : 078 3115 1400</p>
            <p>M : contact@designo.uk</p>
          </div>
        </section>
        <section>
          <img src="" alt="" />
        </section>
      </article>
      
{% endblock %}