<section class="properties-locations">
    <img class="properties-locations-image" src="{{ project.image }}" alt="">
  <div class="properties-locations-country">
    <h2 class="properties-locations-heading">{{ project.title }}</h2>
    <h3 class="properties-locations-heading-contact">{{ project.office }}</h3>
    <p class="properties-locations-contact-descriptions">{{ project.street }}</p>
    <p class="properties-locations-contact-descriptions">{{ project.city }}</p>
    <h3 class="properties-locations-heading-contact">{{ project.contact }}</h3>
    <p class="properties-locations-contact-descriptions">{{ project.phone }}</p>
    <p class="properties-locations-contact-descriptions">{{ project.email }}</p>
  </div>
</section>