{% extends '_base.njk' %}

{% block title %}Web design{% endblock %}

{% block content %}
    <main>
        <article>
            <h2>Web Design</h2>
            <p>
                We build websites that serve as powerful marketing tools 
                and bring memorable brand experiences.
            </p>
        </article>

        <article>
            <section>
                <img src="" alt="">
                <h3>Express</h3>
                <p>A multi-carrier shipping website for ecommerce businesses</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Transfer</h3>
                <p>Site for low-cost money transfers and sending money within seconds</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Photon</h3>
                <p>A state-of-the-art music player with high-resolution audio and DSP effects</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Builder</h3>
                <p>Connects users with local contractors based on their location</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Blogr</h3>
                <p>Blogr is a platform for creating an online blog or publication</p>
            </section>
            <section>
                <img src="" alt="">
                <h3>Camp</h3>
                <p>Get expert training in coding, data, design, and digital marketing</p>
            </section>
        </article>
        <article>
            <a href="./app-design">
          <h3>App Design</h3>
          <p>View Projects</p>
        </a>
        <a href="./graphic-design">
          <h3>Graphic Design</h3>
          <p>View Projects</p>
        </a>
        </article>
    </main>
{% endblock %}