{% extends '_design.njk' %}

{% block title %}Web design - {{ super() }}{% endblock %}

{% block introDesignHeading %}Web Design{% endblock %}

{% block introDesignText %}We build websites that serve as powerful marketing tools and bring memorable brand experiences.{% endblock %}

{% block content %}
    {{ super() }}
    <div class="vertical-space design">
        {% for project in projects %}
            {% if project.type === "web" %}
                {% include "designData.njk" %} 
            {% endif %}        
        {% endfor %}
        <article class="services-card-content">
            <a class="services-app services-card" href="./app-design">
                <h2 class="services-heading">App Design</h2>
                <p class="services-link">View Projects</p>
            </a>
            <a class="services-graphic services-card" href="./graphic-design">
                <h2 class="services-heading">Graphic Design</h2>
                <p class="services-link">View Projects</p>
            </a>
        </article>
    </div>
{% endblock %}