.business {
    min-height: 23.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colors-peach);
    background-image: url(/img/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: -15rem -6.4rem;
    text-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: -11.6rem;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative; 
}

.business__title,
.business__descriptions {
    color: var(--colors-white);
}

.business__title {
    font-size: 2rem;
    line-height: 1.125;
    letter-spacing: 0;
    text-transform: none;
    margin: 0;
    margin-bottom: 1rem;
}

.business__descriptions {
    font-size: 0.9375rem;
    line-height: 1.6667;
    margin-bottom: 2rem;
}