.button {
    display: inline-block;
    color: var(--colors-dark-grey);
    background-color: var(--colors-white);
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0.06667em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    min-width: 9.5rem;
}

.button:hover,
.button:active {
    background-color: var(--colors-light-peach);
    color: var(--colors-white);
}

.button--secondary {
    background-color: var(--colors-peach);
    color: var(--colors-white);
}

.button--intro {
    margin-top: 1.5rem;
}

@media (min-width: 720px) {
    .button--intro {
        margin-top: 1.05rem;
    }
}

@media (min-width: 1018px) {
    .button--intro {
        margin-top: 2.5rem;
        text-align: center;
    }
}

.button--submit {
    margin-top: 2.5rem;
}
