// BUTTONS

.button {
    display: inline-block;
    color: var(--colors-dark-grey);
    background-color: var(--colors-white);
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0.06667em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.button:hover,
.button:active {
    background-color: var(--colors-light-peach);
    color: var(--colors-white);
}

// ABOUT and CONTACT

.button-about-contact {
    background-color: var(--colors-peach);
    color: var(--colors-white);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.125rem;
    padding-left: 1.125rem;
}

.button-about-contact:hover,
.button-about-contact:active {
    background-color: var(--colors-light-peach);
}