// Design

.design {
    margin-top: 6rem;
}

.design-project {
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    background-color: var(--colors-very-light-peach);
    overflow: hidden;
}

.design-project:last-child {
    margin-bottom: 6rem;
}

.design-card-image {
    display: block;
    max-width: 100%;
    min-height: 20rem;
    height: auto;
}

.design-card-text {
    padding: 2rem 1.875rem;
    text-align: center;
}

.design-card-heading {
    color: var(--colors-peach);
    margin: 0;
    margin-bottom: 1rem;
}