// Design

.design {
    margin-top: 6rem;
}

.design__project {
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    background-color: var(--colors-very-light-peach);
    overflow: hidden;
}

.design__project:last-child {
    margin-bottom: 6rem;
}

.design-card__image {
    width: 100%;
    min-height: 20rem;
}

.design-card__text {
    padding: 2rem 1.75rem;
    text-align: center;
}

.design-card__title {
    color: var(--colors-peach);
    margin: 0;
    margin-bottom: 1rem;
}