.design {
    --project-spacer: 2.5rem;
    --container-spacer: 6rem;
    margin-top: var(--container-spacer);
    margin-bottom: calc(var(--container-spacer) - var(--project-spacer));
}

.design__project {
    margin-bottom: var(--project-spacer);
    border-radius: 1rem;
    background-color: var(--colors-very-light-peach);
    overflow: hidden;

    @media (min-width: 560px) {
        display: flex;
        max-height: 19.375rem;
    }
}

.design__image {
    max-width: 100%;
    max-height: 100%;
}

.design__content {
    padding: 2rem 1.75rem;
    text-align: center;

    @media (min-width: 560px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.design__title {
    color: var(--colors-peach);
    margin: 0;
    margin-bottom: 1rem;
}
