.footer {
    background-color: var(--colors-black);
    color: var(--colors-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--footer-offset) + 4.275rem) 1.5rem 4rem;
    gap: 2.5rem;
    text-align: center;
}

@media (min-width: 640px) {
    .footer {
        padding: calc(var(--footer-offset) + 4.975rem) 1.5rem 4rem;
        gap: 0;
    }
}

@media (min-width: 640px) {
    .footer__offices {
        margin-top: 2rem;
    }
}

@media (min-width: 700px) {
    .footer__offices {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        text-align: left;
        gap: clamp(1.5rem, -36.816rem + 85.29vw, 4.125rem);
    }
}

.footer__content {
    opacity: 0.5;
    margin-bottom: 2.5rem;
}

@media (min-width: 700px) {
    .footer__content {
        margin-bottom: 0;
    }
}

.footer__title {
    font-weight: 700;
}

.footer__social {
    display: flex;
    justify-content: space-around;
}

.footer__icons {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}