// FOOTER

.footer {
    background-color: var(--colors-black);
    color: var(--colors-white);
}

.footer__article {
    padding: calc(var(--footer-offset) + 4.275rem) 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__article--contact {
    padding-top: 4rem;
}

.footer__logo {
    max-width: 100%;
    padding-bottom: 1.8rem;
}

.footer__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    border-top: 1px solid rgb(255 255 255 / 0.1);
}

.footer__link {
    color: inherit;
    font-size: 0.875rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.143em;
    margin-top: 2rem;
}

.footer__link:hover,
.footer__link:active {
    color: var(--colors-peach);
}

.footer__content {
    opacity: 0.5;
    margin-bottom: 2.5rem;
}

.footer__title {
    font-weight: 700;
}

.footer__icons {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}