.footer {
    background-color: var(--colors-black);
    color: var(--colors-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--footer-offset) + 4.275rem) 1.5rem 4rem;
    gap: 2.125rem;
    text-align: center;
}

@media (min-width: 640px) {
    .footer {
        padding: calc(var(--footer-offset) + 5.075rem) 1.5rem 4rem;
        gap: 0;
    }
}

@media (min-width: 1440px) {
    .footer {
        padding: calc(var(--footer-offset) + 4.375rem) 1.5rem 4rem;
    }
}

@media (min-width: 640px) {
    .footer__offices {
        margin-top: 2rem;
    }
}

@media (min-width: 700px) {
    .footer__offices {
        min-width: clamp(40.75rem, 13.672rem + 61.89vw, 69.375rem); // from 700px to 1440px
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        text-align: left;
    }
}

.footer__content {
    opacity: 0.5;
    margin-bottom: 2.5rem;
}

@media (min-width: 700px) {
    .footer__content {
        margin-bottom: 0;
    }
}

.footer__title {
    font-weight: 700;
}

.footer__social {
    display: flex;
    justify-content: space-around;
}

.footer__icons {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
