// HEADER

.header {
    padding: 2.125rem 1.5rem;
}

@media (min-width: 470px) {
    .header {
        padding-right: 0;
        padding-left: 0;
        margin-inline: 1rem;
    }
}

@media (min-width: 580px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 720px) {
    .header {
        max-width: 43.125rem;
        margin-inline: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}