// HEADER

.header {
    padding: 2.125rem 1.5rem;
}

.header-brand {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.header-image {
    display: block;
    max-width: 12.25rem;
    height: auto;
}

.header-logo {
    width: 100%;
}

.header-navigation {
    display: none;
}