.intro {
    color: var(--colors-white);
    background-color: var(--colors-peach);
    background-image: url(/img/oval.svg);
    background-repeat: no-repeat;
    /*background-position: 0 6.4rem;*/
    background-position: bottom 6.4rem right -16.6rem;
    text-align: center;
}

@media (min-width: 470px) {
    .intro {
        margin-inline: 1rem; 
        border-radius: 1rem;
    }
}

@media (min-width: 720px) {
    .intro {
        max-width: 43.125rem;
        margin-inline: auto;
        background-position: bottom 5.5rem left 10.8rem;
    }
}

@media (min-width: 769px) {
    .intro {
        max-width: 69.375rem;
        margin-inline: 2rem;
    }
}

@media (min-width: 1018px) {
    .intro {
        display: flex;
        justify-content: space-between;
        padding-inline: clamp(2rem, -24.103rem + 41.03vw, 6rem);
        padding-top: clamp(5rem, -21.918rem + 42.31vw, 9.125rem);
    }
}

@media (min-width: 1174px) {
    .intro {
        margin-inline: auto;
    }
}

.intro--design {
    min-height: 20rem;
    background-image: url(/img/bg-pattern-intro-web.svg);
    background-position: -31.4rem -18.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.intro--contact {
    background-image: url(/img/bg-pattern-hero-contact-mobile.svg);
    background-position: -5.8rem 0;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.intro--about {
    background-image: url(/img/bg-pattern-hero-about-mobile.svg);
    background-position: -31.4rem 11.3rem;
}

.intro__content {
    padding: 5rem 1.5rem;
}

@media (min-width: 720px) {
    .intro__content {
        padding-top: 3.75rem;
        padding-bottom: 4.375rem;
        padding-right: 3.625rem;
        padding-left: 3.625rem;
    }
}

@media (min-width: 1018px) {
    .intro__content {
        padding: 0;
        text-align: left;
    }
}

.intro__content--about {
    background-color: var(--colors-very-light-peach);
}

.intro__content--about-under {
    padding-bottom: 6.625rem;
    margin-bottom: 7.5rem;
}

.intro__title {
    font-size: clamp(2rem, 1.046rem + 4.07vw, 3rem);
    line-height: 1.125;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: clamp(1.5rem, 1.023rem + 2.04vw, 2rem);
}

@media (min-width: 452px) {
    .intro__title {
        max-width: 25.25rem;
        margin-inline: auto;
    }
}

@media (min-width: 720px) {
    .intro__title {
        max-width: 35.875rem;
        line-height: 1;
    }
}

.intro__title--about {
    color: var(--colors-peach);
}

.intro__description {
    font-size: clamp(0.938rem, 0.879rem + 0.25vw, 1rem);
    line-height: 1.6667;
}

@media (min-width: 452px) {
    .intro__description {
        max-width: 25.75rem;
        margin-inline: auto;
    }
}

@media (min-width: 720px) {
    .intro__description {
        max-width: 27.75rem;
        line-height: 1.625;
    }
}

@media (min-width: 1018px) {
    .intro__description {
        margin: 0;
    }
}

.intro__description--about {
    color: var(--colors-dark-grey);
}

.intro__description--about + .intro__description--about {
    margin-top: 1.5rem;
}

.intro__image {
    max-width: 17.5rem;
    margin: 0 auto;
    box-shadow: rgb(93 2 2 / 0.5) 1.25rem -2.5rem 5rem;
    border-top-right-radius: 2.3rem;
    border-top-left-radius: 2.3rem;
}

@media (min-width: 700px) {
    .intro__image {
        display: none;
    }
}

.intro__image--tablet {
    display: none;
}

@media (min-width:700px) {
    .intro__image--tablet {
        display: block;
    }
}

@media (min-width: 1018px) {
    .intro__image--tablet {
        display: none;
    }
}

@media (min-width: 1018px) {
    .intro__image--desktop {
        display: block;
    }
}