.services {
    display: flex;
    flex-direction: column;
    margin: 7.5rem 0;
}

@media (min-width: 1018px) {
    .services {
        display: grid;
        grid-template-areas: "a b" "a c";
        column-gap: 1.875rem;
        row-gap: 1.5rem;
        max-width: 69.375rem;
        margin-inline: auto;
        margin-top: 10rem;
    }
}

.services--smaller {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.services__card {
    position: relative;
    color: var(--colors-white);
    background-color: #2e2a2a;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15.625rem;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

@media (min-width: 470px) {
    .services__card {
        margin-inline: 1rem;
        min-height: 12.5rem;
    }
}

@media (min-width: 720px) {
    .services__card {
        min-width: 43.125rem;
        margin-inline: auto;
        gap: 1.5rem;
    }
}

@media (min-width: 1018px) {
    .services__card {
        margin: 0;
        min-width: clamp(28.875rem, -2.938rem + 50vw, 33.75rem); // from 1018px to 1174px
    }
}

.services__card:last-of-type {
    margin-bottom: 0;
}

.services__card--web {
    background-image: url(/img/web-design-card.webp);
}

@media (min-width: 640px) {
    .services__card--web {
        background-image: url(/img/tablet/image-web-design.webp);
    }
}

@media (min-width: 1018px) {
    .services__card--web {
        grid-area: a;
        min-height: clamp(12.5rem, -166.955rem + 282.05vw, 40rem);
        background-image: url(/img/desktop/desktop-web-design.webp);
    }
}

.services__card--app {
    background-image: url(/img/app-design-card.webp);
}

@media (min-width: 640px) {
    .services__card--app {
        background-image: url(/img/tablet/image-app-design.webp);
    }
}

@media (min-width: 1018px) {
    .services__card--app {
        grid-area: b;
        background-image: url(/img/desktop/desktop-app-design.webp);
    }
}

.services__card--graphic {
    background-image: url(/img/graphic-design-card.webp);
}

@media (min-width: 640px) {
    .services__card--graphic {
        background-image: url(/img/tablet/image-graphic-design.webp);
    }
}

@media (min-width: 1018px) {
    .services__card--graphic {
        grid-area: c;
        background-image: url(/img/desktop/desktop-graphic-design.webp);
    }
}

.services__title {
    font-size: clamp(1.75rem, 1.034rem + 3.05vw, 2.5rem);
    text-align: center;
}

.services__link {
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0.3333em;
    background-image: url(/img/icons/icon-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 1.5rem;
    color: var(--colors-white);
    text-decoration: none;
}

.services__link::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    z-index: 1;
}
