.services {
    display: flex;
    flex-direction: column;
    margin: 7.5rem 0;
}

.services--smaller {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.services__card {
    position: relative;
    color: var(--colors-white);
    background-color: #2e2a2a;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15.625rem;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

@media (min-width:470px) {
    .services__card {
        margin-inline: 1rem;
    }
} 

@media (min-width:720px) {
    .services__card {
        min-width: 43.125rem;
        margin-inline: auto;
    }
} 

.services__card:last-of-type {
    margin-bottom: 0;
}

.services__card--web {
    background-image: url(/img/web-design-card.webp);
}

.services__card--app {
    background-image: url(/img/app-design-card.webp);
}

.services__card--graphic {
    background-image: url(/img/graphic-design-card.webp);
}


.services__title { 
    font-size: 1.75rem;
    text-align: center;
}

.services__link {
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0.3333em;
    background-image: url(/img/icons/icon-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 1.5rem;
    color: var(--colors-white);
    text-decoration: none;
}

.services__link::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    z-index: 1;
}