@import "header";

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --colors-peach: #e7816b;
    --colors-black: #1d1c1e;
    --colors-white: #ffffff;
    --colors-light-peach: #ffad9b;
    --colors-dark-grey: #333136;
    --colors-light-grey: #f1f3f5;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    color: var(--colors-dark-grey);
    background-color: var(--colors-white);
    margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 500;
    /*
    margin-top: 0;
    margin-bottom: 0;
    */
}

h1,
.h1 {
    font-size: 3rem;
    line-height: 1;
}

h2,
.h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.05em;
}

h3,
.h3 {
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: 0.25em;
    text-transform: uppercase; 
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
}
