@import "header";

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --colors-peach: #e7816b;
    --colors-black: #1d1c1e;
    --colors-white: #ffffff;
    --colors-light-peach: #ffad9b;
    --colors-dark-grey: #333136;
    --colors-light-grey: #f1f3f5;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    color: var(--colors-dark-grey);
    background-color: var(--colors-white);
    margin: 0;
}